<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>237E5C2A29051EFE000BDCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239B37A52903C00300FD60C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239B37BB2903C00500FD60C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
